name: Run Tests

on:
  push:
    branches:
      - docker
      - dev
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v2

    - name: Log in to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Pull Docker image
      run: docker pull mariadziuba/lab1_bd:latest

    - name: Create .env file
      run: |
        echo "CLICKHOUSE_LOGIN=${{ secrets.CLICKHOUSE_LOGIN }}" >> .env
        echo "CLICKHOUSE_PWD=${{ secrets.CLICKHOUSE_PWD }}" >> .env

    - name: Start services
      run: docker-compose up -d

    - name: Execute Unit Tests
      run: docker-compose exec -T web python -m pytest src/unit_tests/ 

    - name: Execute Functional Tests
      run: docker-compose exec -T web python -m pytest tests/

    - name: Get Docker Compose Logs
      run: docker-compose logs
